.title{
    background-color: aqua;
    text-align: center;
    border: solid 3px black;
    margin: 0 auto
}

.nav{
    border: solid 3px black;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 3px;
    background-color: black;
}.nav button{
    border: solid 2px black;
    padding: 3px;
}.nav button:hover{
    background-color: aqua;
}

.chapter-title{
    background-color: aqua;
    text-align: left;
    border: solid 3px black;
    margin: 0 auto;
    width: 100%;
}

.pic{
    width: 35%;
    float: right;
    margin: 0 auto;
    border: solid 3px black;
    height: 84%;
}

.chapter{
    background-color: black;
    color: white;
    width: 65%;
}.chapter p{
    text-indent: 15px;
    margin: 0 auto;
    padding: 3px;
    font-size: x-large;
}

.picButtons{
    background-color: aqua;
    border: solid 3px black;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    padding: 56px
}.picButtons button:hover{
    background-color: black;
    color: white;
}.picButtons button{
    border: solid 3px black;
    padding: 5px;
    font-size: medium;
}